.l-admin{
    //Perfect Scroll Activar
    position: relative;
    top:0;
    //Fin
    height: 100vh;
    min-height: 100vh;
    display:grid;
    grid-template-rows:0 100%;
    grid-template-columns:100%;
    transition: all .3s;
    @include mediaquery(large){
        grid-template-rows:100%;
        grid-template-columns:$sidebar calc(100% - #{$sidebar});

        &.expanded{
            grid-template-columns:$sidebar_hover calc(100% - #{$sidebar_hover});
        }
    }
}

l-sidebar{
    display:none;
    @include mediaquery(large){
        display:block;
    }
}

.l-main{
    background-color:#EEEEEE;
    //Perfect Scroll Activar
    position: relative;
    //Fin
}

.l-container{
    padding:0px 20px 0px 20px;
}

.l-wrapper{
    padding:20px;
}




