<div class="navbar-main l-container">

    <!-- -- MOVIL -- -->
    <div class="navbar-main__movil">
        <div class="hamburger hamburger--slider" id="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
        </div>
    </div>

    <!-- -- TABLE ++-- -->
   <div class="navbar-main__table">
       <button class="button-primary" id="minimizeSidebar">
           <i class="pe-7s-more"></i>
       </button>
   </div>

    <div>
        <img class="image-radius" src="../../../assets/img/admin/usuario.png" alt="Usuario"/>
    </div>



</div>

