<div class="sidebar-main">
    <div class="sidebar-main__user">
        <img src="../../../assets/img/admin/Angular.png" alt="empresa">
        <p class="nav__betweent">Admin</p>
    </div>
    <div class="sidebar-main__modules">
        <div class="sidebar-modules">

            <!-- -- User Settings -- -->
            <ul class="nav user-settings">
                <li>
                    <a href="javascript:void(0)"
                        class="">

                        <img class="nav__icon image-radius" src="../../../assets/img/admin/usuario.png">

                        <p class="nav__betweent title3">{{ usuario.name }}<b class="caret"></b></p>
                    </a>
                    <div class="nav-dropdown">
                        <ul class="nav">
                            <li>
                                <a href="#"
                                   class="title4 ">
                                    <span>MP</span>
                                    <p class="nav__betweent">Mi Perfil</p>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   class="title4 ">
                                    <span>EP</span>
                                    <p class="nav__betweent">Editar Perfil</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <!-- -- Find User Settings-- -->
            <ul class="nav user-modules">
                
                    <li>
                        <a href="#"
                            class="title3 ">
                            <i class="pe-7s-graph nav__icon"></i>
                            <p class="nav__betweent">Dashboard</p>
                        </a>

                    </li>



            </ul>
        </div>
    </div>
</div>
