<div class="l-auth">
    <div class="l-auth__left">
        <img  class="auth-img__left" src="../../../assets/img/login/login-left.svg" alt="">
    </div>
    <div class="l-auth__content">
        <div class="l-content-title">
            <img src="../../../assets/img/admin/Angular.png" alt="">
            <h1 class="title1">Admin</h1>
        </div>
        
        <router-outlet></router-outlet>

        <ul class="l-content-footer title4">
            <li>
                <a href="#">Política de privacidad</a>
            </li>
            <li>
                <a href="#">Aviso de usuario</a>
            </li>
        </ul>
    </div>
    <div class="l-auth__right">
        <img  class="auth-img__right" src="../../../assets/img/login/login-right.svg" alt="">
    </div>
</div>


















